.topbar{
  height: 74px;
  color: red;
  background-color: #090809;
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  border-bottom: 1px solid;
  border-bottom-color: #e40712;
}
.home{
  position: relative;
  bottom: 2px;
}
table {
  border: 1px solid black;
  text-align: center;
  width: 600px;
}
.button{
  background-color: #50c878;
  border: none;
  color: white;
  border: 1px solid white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#message{
  background-color: green;
  color: white;
  border: 1px solid white;
  max-width: 200px;
  font-size: 22px;
  position: relative;
  left: 40%;
  bottom: 5px;
}
.errormessages{
  color: red;
}
#badmessage{
  background-color: red;
  color: white;
  border: 1px solid white;
  max-width: 200px;
  font-size: 22px;
  position: relative;
  left: 50%;
  bottom: 5px;
}
#sub{
  max-width: 200px;
  padding-left: 40px;
  position: relative;
  left: 20px;
  bottom: 20px;
}
#sign{
  max-width: 200px;
  height: 12px;
  position: relative;
  bottom: 2px;
  left: 85%;
}
#signmessage{
  max-width: 200px;
  height: 12px;
  position: relative;
  bottom: 30px;
  left: 85%;
}
.last10reviews{
  position: absolute;
  text-align: center;
  top: 150px;
  left: 45%;
  height: 20%;
}
.reviews{
  position: relative;
  left: 30%;
  max-width: 500px;
  bottom: 76px;
  color: white;
}
.leavereview{
  position: relative;
  max-width: 600px;
  left: 55%;
  bottom: 77px;
  color: white;
}
.leavereviewindex{
  position: relative;
  max-width: 600px;
  left: 55%;
  bottom: 151px;
  color: white;
}
.dropdown{
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 54px;
  background-color: #26282a;
}
.input{
  padding-left: 30%;
}
img{
    height: 81%;
    width: 100%;
    position: absolute;
    top: 129px;
    left: 0px;
}
.results{
  border: 1px black solid;
  position: absolute;
  text-align: center;
  top: 150px;
  left: 45%;
  width: 20%;
  height: 20%;
}
.sign-in{
  border: 1px black solid;
  width: 23%;
  height: 200px;
  position: relative;
  top: 140px;
  left: 25%;
  text-align: center;
  margin-right: 20px;
}
.sign-up{
  border: 1px black solid;
  width: 23%;
  height: auto;
  position: relative;
  left: 50%;
  bottom: 78px;
  text-align: center;
}
.aboutme{
  position: absolute;
  top: 120px;
  border-right: 1px solid;
  border-left: 1px solid;
  border-right-color: #e40712;
  border-left-color: #e40712;
  max-width: 60%;
  position: relative;
  left: 20%;
}
a:visited{
  color: blue;
}
.footer{
  color: red;
  height: 64px;
  text-align: center;
  background-color: #090809;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-top: 1px solid;
  border-top-color: #e40712
}
