.topbar{
  height: 64px;
  padding-left: 20px;
  color: red;
  background-color: #090809;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid;
  border-bottom-color: #e40712;
}
#sub{
  max-width: 200px;
  padding-left: 40px;
  position: relative;
  left: 20px;
  bottom: 20px;
}
#sign{
  max-width: 200px;
  padding-left: 40px;
  position: relative;
  left: 300px;
  bottom: 65px;
}
#search{
  padding-left: 40px;
  position: relative;
  bottom: 45px;
  left: 100px;
}
.dropdown{
  position: fixed;
  top: 65px;
  width: 100%;
  height: 54px;
  padding-left: 20px;
  background-color: #26282a;
}

.footer{
  color: red;
  height: 64px;
  text-align: center;
  background-color: #090809;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid;
  border-top-color: #e40712
}
